<div class="tracked-categories">
  <div class="custom-tracking-nav">
    {{#if back}}
      <a href="/latest" class="custom-home-link">{{d-icon "angle-left"}} all topics </a>
    {{/if}}

    {{#if trackedCats}}
      <div class="custom-nav-list custom-category-list">
        <h3><a class="all-link" href="/categories">Categories</a> <a href="/my/preferences/categories">{{d-icon "pencil"}}</a> </h3>

        <ul>
          {{#each trackedCats as |c|}}
            <li class={{c.slug}}>{{category-link c}}</li>
          {{/each}}
        </ul>

      </div>
    {{/if}}

    {{#if trackedTags}}
      <div class="custom-nav-list custom-tag-list">

        <h3><a class="all-link" href="/tags">Tags</a> <a href="/my/preferences/tags">{{d-icon "pencil"}}</a> </h3>

        <ul>
          {{#each trackedTags as |t|}}
            <li class={{t}}><a href="/tags/{{t}}">{{t}}</a></li>
          {{/each}}
        </ul>

      </div>
    {{/if}}

    {{#if assignedTopics}}
    <div class="custom-nav-list custom-assign-list">
      <h3><a class="all-link" href="my/activity/assigned">Assigned</a> </h3>
      <ul>
        {{#each assignedTopics as |asgn|}}
        <li><a href="/t/{{asgn.slug}}/{{asgn.id}}/{{asgn.last_read_post_number}}">{{asgn.title}}</a></li>
    {{/each}}
    </ul>

    </div>

    {{/if}}

  </div>
</div>
