<div class="tracked-categories">
  {{mount-widget widget="home-logo" args=args id="sidebar-logo"}}

  <div class="custom-tracking-nav">
    <div class="custom-nav-list custom-global-list">
      <h3>
        <a class="all-link" href="/latest">
          {{theme-i18n "sidebar_title.all_topics"}}
        </a>
        {{#if site.mobileView}}
          <a {{action "triggerHamburger"}}>
            {{d-icon "cog"}}
          </a>
        {{/if}}
      </h3>
      {{navigation-bar
        navItems=navItems
        filterMode=filterMode
        category=category
        id="global-sidebar-nav"
      }}
    </div>

    {{#if currentUser}}
      <div class="custom-nav-list custom-category-list">
        <h3>
          <a class="all-link" href="/categories">
            {{theme-i18n "sidebar_title.categories"}}
          </a>
          <a href="/my/preferences/categories">
            {{d-icon "pencil-alt"}}
          </a>
        </h3>

        {{#if trackedCats}}
          <ul>
            {{#each trackedCats as |trackedCat|}}
              <li class={{if trackedCat.[1] 'active'}} data-category-name="{{trackedCat.[0].slug}}">
                <a href="{{trackedCat.[0].sidebarUrl}}">
                  {{category-link trackedCat.[0]}}
                  {{sidebar-nav-item-callout category=trackedCat.[0]}}
                </a>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <div class="custom-empty-message">
            <p>{{{theme-i18n "no_categories"}}}</p>
          </div>
        {{/if}}
      </div>

      {{#if trackedTags}}
        <div class="custom-nav-list custom-tag-list">
          <h3><a class="all-link" href="/tags">{{theme-i18n "sidebar_title.tags"}}</a> <a href="/my/preferences/tags">{{d-icon "pencil-alt"}}</a> </h3>
          <ul>
            {{#each trackedTags as |trackedTag|}}
              <li data-tag-name={{trackedTag}}>
                {{#link-to 'tags.show' trackedTag}}
                  {{trackedTag}}
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      <div class="custom-nav-list personal-messages">
        <h3>
          {{#link-to 'userPrivateMessages.index' currentUser class="all-link"}}
            {{theme-i18n "sidebar_title.messages"}}
          {{/link-to}}
          <a href {{action (route-action "composePrivateMessage")}}>
            {{d-icon "envelope"}}
          </a>
        </h3>
          <ul>
            <li>
              {{#link-to 'userPrivateMessages.index' currentUser}}
                {{i18n 'user.messages.inbox'}}
              {{/link-to}}
            </li>
            <li>
              {{#link-to 'userPrivateMessages.sent' currentUser}}
                {{i18n 'user.messages.sent'}}
              {{/link-to}}
            </li>
            {{#if showUserArchive}}
              <li>
                {{#link-to 'userPrivateMessages.archive' currentUser class="archive"}}
                  {{i18n 'user.messages.archive'}}
                {{/link-to}}
              </li>
            {{/if}}

            {{#each userGroups as |group|}}
              {{#if group.has_messages}}
                <li>
                  {{#link-to 'userPrivateMessages.group' currentUser.username_lower group.name}}
                    {{capitalize-string group.name}}
                  {{/link-to}}
                </li>
                {{#if group.showArchive}}
                  <li class='archive group-archive'>
                    {{#link-to 'userPrivateMessages.groupArchive' currentUser.username_lower group.name class="archive"}}
                      {{i18n 'user.messages.archive'}}
                    {{/link-to}}
                  </li>
                {{/if}}
              {{/if}}
            {{/each}}
            {{#each pmTags as |tag|}}
              <li>
                {{#link-to 'userPrivateMessages.tagsShow' currentUser.username_lower tag}}
                  {{tag}}
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
      </div>
    {{/if}}
  </div>
</div>
